$box-background: #F4F4F4;
$box-shadow: 0px 72px 80px rgba(0, 0, 0, 0.16), 0px 30.0799px 33.4221px rgba(0, 0, 0, 0.115017), 0px 16.0821px 17.869px rgba(0, 0, 0, 0.0953772), 0px 9.01552px 10.0172px rgba(0, 0, 0, 0.08), 0px 4.78807px 5.32008px rgba(0, 0, 0, 0.0646228), 0px 1.99242px 2.21381px rgba(0, 0, 0, 0.0449833);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.application{
    margin-left: 100px;
    margin-top: 62px;
}

.panel{
    margin-top: 132px;
    display: flex;
}

.task-container{
    margin-right: 100px;
    text-align: center;

    h2{
        font-size: 32px;
        margin-bottom: 10px;
    }

    
}

.box-task-noCompleted{
    width: 350px;
    height: 500px;
    background-color: $box-background;
    box-shadow: $box-shadow;
    border-radius: 28px;
}

.box-task-completed{
    width: 350px;
    height: 500px;
    background-color: $box-background;
    box-shadow: $box-shadow;
    border-radius: 28px;
}

.tasks-list{

}